/* start writing all your rules starting with #nav selector */
/* background color for fourth element: #ffd9b3; */

* {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 100%;
  max-width: 960px;
  margin: 50px auto;
}

#nav {
  font-weight: 300;
  font-size: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav ul {
  background: #cfcfcf;
  height: 40px;
  width: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#nav ul li {
  width: 20%;
}

#nav>li>ul {
  position: absolute;

}

#nav>li {
  height: 20%;
}

#nav li a {
  background: #cfcfcf;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
  line-height: 40px;
  padding: 0px 25px;
}

#nav ul li:nth-child(4) a  {
  background: #ffd9b3;
}

#nav li a:hover {
  text-decoration: none;
  background: #915fa6;
  color: #FFFFFF;
}

#nav li:hover>ul {
  display: flex;
  flex-direction: column;
}

#nav li ul li:hover>ul {
  display: flex;
  flex-direction: row;
}


#nav li ul {
  background: #000000;
  display: none;
  height: auto;
  width: 100%;
}

#nav li li {
  width: 100%;
}

#nav li ul a {
  text-align: left;
  display: block;
  height: 40px;
  padding: 0px 10px 0px 25px;
}


#nav ul li:nth-child(2) ul li{
  position: relative;

}

#nav ul li:nth-child(2) ul li:nth-child(4):hover ul li  {
 position: absolute;
  display: inline-block;  
  margin-top: 0%;
  left: 100%;
  justify-content:start;
  margin-right: -100px; 

}